* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*:root {
    --primary:#96A495;
    --secondary: #DBDF92;
    --tertiary: #A97D58;
    --other1:#356aba;
    --other2: #E3651D;
    --other3: #750E21;
    --other4: #005B41;
    background: #000;
}*/

:root {
  --primary:#1B9C85;
  --secondary: #F1F5A8;
  --tertiary: #FF9BD2;
  --other1:#356aba;
  --other2: #E3651D;
  --other3: #CDF5FD;
  --other4: #005B41;
  background: #000;
  --other5: #A3C9AA;
  --otherSecondary: #1E3D6D;
  

}


.container {  display: grid;
    grid-template-columns: 1fr 2.5fr 0.5fr 2.5fr 0.3fr 2.5fr 0.3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 12px;
    grid-auto-flow: row;
    grid-template-areas:
      ". truc . projets . about . contact ."
      "insta projet1 projet1 projet2 projet2 projet3 html css hard-skills"
      ". projet1 projet1 projet2 projet2 projet3 javaScript figma hard-skills"
      "github projet4 projet4 projet2 projet2 . compet5 compet6 hard-skills"
      ". projet4 projet4 projet5 projet5 projet5 compet7 compet8 hard-skills"
      "linkedin projet4 projet4 projet5 projet5 projet5 . . ."
      ". sk4 sk5 sk6 skill2 skill2 skill1 skill1 soft-skills"
      "blog skill3 skill3 skill3 skill2 skill2 skill1 skill1 soft-skills"
      ". skill3 skill3 skill3 skill2 skill2 . . soft-skills"
      "footer footer footer footer footer footer footer footer footer";
      background-color: #1a1a1a;
/*height: 100vh;*/
      padding: 20px;  
}
  .container>div{
    border: 1px solid var(--other4);
  }
  
  .about { grid-area: about;
background-color: var(--other1);
display: grid;
width: 150px;
height: 100px;; 

}
  
  .contact { grid-area: contact; 
background-color:var(--other4);
display: grid;
width: 150px;
height: 100px;; 
 }
  
  .insta { grid-area: insta;
background-color: var(--other5);
display: grid;
align-items: center;
justify-content: center; }
  
  .github { grid-area: github;
background-color:var(--tertiary);
display: grid; 
align-items: center;
justify-content: center;}
  
  .linkedin { grid-area: linkedin;
  background-color: var(--other4);
  display: grid;
  align-items: center;
  justify-content: center;
  }

  .rezo150 {
    width: 150px;
    height: 150px;
  }
  .rezo img {
    width: 100%;
  }
  
  .blog { grid-area: blog; }
  
  .projet1 { grid-area: projet1; }
  
  .html { grid-area: html; }
  
  .css { grid-area: css;
  background-color: var(--tertiary); }
  
  .javaScript { grid-area: javaScript; }
  
  .figma { grid-area: figma;
  background-color: var(--other4); }
  
  .compet5 { grid-area: compet5; }
  
  .compet6 { grid-area: compet6;
  background-color: var(--tertiary);
  }
  
  .compet7 { grid-area: compet7; }
  
  .compet8 { grid-area: compet8;
  
  background-color: var(--other5);
border-radius: 10px;
}
  
  .projets { grid-area: projets; 
  display: grid;
  width: 150px;
  height: 100px;}

  .projets img {
    width: 70%;
    height: auto;

  }
  
  .truc { grid-area: truc;
  background-color: var(--otherSecondary);
  display: grid; 
align-items: center;
justify-content: center;
width: 150px;
height: 100px;}

  .truc img{
    width: 60%;
    border-radius: 5%;
  }
  
  .projet4 { grid-area: projet4; 
  background-color: var(--primary);}
  
  .projet2 { grid-area: projet2; }
  
  /* presentCard image + presentation*/
  .projet3 { grid-area: projet3; 
    display: grid;
  width: 20%;}
  
  .projet5 { grid-area: projet5; }
  
  .soft-skills { grid-area: soft-skills; }
  
  .hard-skills { grid-area: hard-skills; }
  
  /* skill1: chess*/
  .skill1 { grid-area: skill1; 
  display: grid;}

  /* skill2: pad animé*/
  .skill2 { grid-area: skill2; 
    }
  
  .skill3 { grid-area: skill3;
  display: grid;
 }
  
 /* boocks card*/
  .sk4 { grid-area: sk4; }
  
  .sk5 { grid-area: sk5; }
  
  .sk6 { grid-area: sk6; }
  
  .footer { grid-area: footer; }
  

  /* classes generales */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.spaceAround {
  display: flex;
  justify-content: space-around;

}

  /* la dive qui contient la  class skill2 avec des dives colorées dedans*/
  .gridd-anim {
    padding: 5%;
    gap:4%;
    background-color:black;

 
  } 

  .border10 {
    border-radius: 10px;
  }
  .box1 {
   width: 30%;
   height: 30%;
   border-radius: 11px;
background: linear-gradient(315deg, #305fa7, #3971c7);
box-shadow:  -1px -1px 5px #3367b4,
             1px 1px 5px #376dc0;
   
   }
   .box2 {
    width: 30%;
    height: 30%;
   
    border-radius: 11px;
    background: linear-gradient(315deg, #cc5b1a, #f36c1f);
    box-shadow:  -1px -1px 5px #dc621c,
                 1px 1px 5px #ea681e;
   }
  .box3 {
    width: 30%;
    height: 30%;
   
    border-radius: 11px;
    background: linear-gradient(315deg, #00523b, #006146);
    box-shadow:  1px -1px 5px #00583f,
                 1px 1px 5px #005e43;
   }

/* ici les parametres css de ma carte de présentation */
.presentCard {
 width:300px;
 height: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.presentCard a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 110px;
  background-color: var(--other2);
  
}

.title {
  color: #111827;
  font-size: 1rem;
  
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  
}



h2 {
  color: var(--other3);
}

/* NAV*/
ul { 
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
 
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1a1a1a;
}

.linck-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: .5s;
  font-size: 20px;
}
.link a:hover, .link.active a {
  opacity: 1;
}

.home-section {
  width: 100;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  /*position: relative;*/
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.hero-heading {
  color: #fff;
  font-size: 120px;
  text-transform:capitalize ;
  font-weight: 300;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
}

.home-section.active , .project-section.active, 
.about-section.active, .contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}



/* case Skill 3 soft: livres*/
.BoocksCard {
  width: 210px;
  height: 254px;
  border-radius: 4px;
  background: #212121;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.BoocksCard p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #1a1a1a;
  border: 1px solid #005B41;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoocksCard p:hover {
  flex: 4;
}

.BoocksCard p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #005B41;
  letter-spacing: .1em;
}

.BoocksCard p:hover span {
  transform: rotate(0);
}


/*cheesCard*/
.cheesCard {
  width:500px;
  height: 400px;
  perspective: 1000px;
}

.cheesCard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.cheesCard:hover .cheesCard-inner {
  transform: rotateY(180deg);
}

.cheesCard-front,
.cheesCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cheesCard-front {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--primary);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.cheesCard-back {
  background-color:var(--other4);
  color: #fff;
  display: flex;
  align-items: flex-end;
  border: 10px solid var(--other4);
  border-radius: 10px;
  justify-content: center;
  font-size: 10x;
  transform: rotateY(180deg);
}
.cheesCard-back img {
  width: 100%;
  height: auto;
}

.cheesCard-back p {
  width: 30%;}

  /* mle formulaire */,,
  .container {
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to right, #005c97, #363795);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container form .descr {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input, textarea {
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
