* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/Junge/Junge-Regular.ttf") format("truetype");
  font-family: "junge";
}

@font-face {
  src: url("./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-family: "Libre_Baskerville";
}


:root {
  --primary: #1B9C85;
  --secondary: #F1F5A8;
  --tertiary: #FF9BD2;
  --other1: #356aba;
  --other2: #E3651D;
  --other3: #CDF5FD;
  --other4: #005B41;
  --background: #A3C9AA;
  --other5: #A3C9AA;
  --otherSecondary: #1E3D6D;
}

/*les typos*/
h1 {
  font-family: 'Libre-Baskerville', cursive;
  font-size: 2rem;
  color:var(--primaryColor); 
}

h2 {
  font-family: 'Libre-Baskerville', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color:var(--primaryColor);
  width: 100%;
}

h3 {
  font-family:'Libre-Baskerville', sans-serif;
  font-size: 1.5rem;
  color:var(--contentColor);
}

p {
  font-family:'Junge', sans-serif;
  font-weight: 500;
  color: var(--contentColor);
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
}




/*le conteiner grid*/
.container {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 14px 12px; 
  grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav"
    "projet1 projet1 projet1 projet1 projet1 projet2 projet2 projet2 projet2"
    "projet1 projet1 projet1 projet1 projet1 projet2 projet2 projet2 projet2"
    "projet1 projet1 projet1 projet1 projet1 projet2 projet2 projet2 projet2"
    "skills skills skills skills projet3 projet3 projet3 projet3 projet3"
    "skills skills skills skills projet3 projet3 projet3 projet3 projet3"
    "lib lib lib chess chess chess pad pad pad"
    "lib lib lib chess chess chess pad pad pad"
    "lib lib lib chess chess chess pad pad pad"; 
}
.nav {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "about projets contact"
    ". . ."; 
  grid-area: nav; 
  
}
.about {
  justify-self: center; 
  align-self: center; 
  grid-area: about; 
}
.projets {
  justify-self: center; 
  align-self: center; 
  grid-area: projets; 
}
.contact {
  justify-self: center; 
  align-self: center; 
  grid-area: contact; 
}
.projet1 { grid-area: projet1; }
.projet2 { grid-area: projet2; }
.skills {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 3px 3px; 
  grid-template-areas: 
    "html css javaScript"
    "php sql figma"
    "notion frameworks new"; 
  grid-area: skills; 
}
.html { grid-area: html; 
  text-align: center;
 
}
.css { grid-area: css; 
   text-align: center;
}
.javaScript { grid-area: javaScript;
text-align: center; }
.php { grid-area: php; 
  text-align: center;
}
.sql { grid-area: sql; 
  text-align: center;
}
.figma { grid-area: figma; 
  text-align: center;}
.notion { grid-area: notion;
  text-align: center; }
.frameworks { grid-area: frameworks; 
  text-align: center;}
.new { grid-area: new;
 }

 /*projet3*/
.projet3 { grid-area: projet3; }
.lib { grid-area: lib; }
.chess { grid-area: chess; }
.pad { grid-area: pad; }


/* les parametres des grid-area*/
.topNav {
  display: flex;
  align-items: center;
  border: 7px solid var(--other5);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
}

.projet2 {
  grid-area: projet2;
  /*background-color: #00583f;*/
}

/* hard skills*/
.divSkills {
  width: 50%;
  flex-wrap: nowrap;
  gap:1%
}
.logoSkill {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 10px solid var(--primary);
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
  padding: 3%;
}

.logoSkill img {
  width: 50px;
  height: 50px;
}

/* à droite des hard skills*/

/* classes generales */
.flex {
  display: flex;
  flex-wrap: wrap;
}
/*.alignLeft {
  display: flex;
  justify-content: flex-end;
 
}*/

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.gap {
  gap: 5%;
}

.padding {
  padding: 7%;
}

.bgGreen {
  background-color: var(--background);
}
/* la class alignLeft pour le formulaire ecriteplus bas dans mon css
.alignLeft {
  display: flex;
  justify-content: flex-end;
 
}*/

/* la dive qui contient la  class 'pad' dans les grids avec des dives colorées dedans*/
.gridd-anim {
  padding: 5%;
  gap: 4%;
  background-color: #212121;
  width: 350px;
  height: 350px;

}

.border10 {
  border-radius: 10px;
}

.box1 {
  width: 30%;
  height: 30%;
  border-radius: 11px;
  background: linear-gradient(315deg, #305fa7, #3971c7);
  box-shadow: -1px -1px 5px #3367b4,
    1px 1px 5px #376dc0;
}

.box2 {
  width: 30%;
  height: 30%;

  border-radius: 11px;
  background: linear-gradient(315deg, #cc5b1a, #f36c1f);
  box-shadow: -1px -1px 5px #dc621c,
    1px 1px 5px #ea681e;
}

.box3 {
  width: 30%;
  height: 30%;

  border-radius: 11px;
  background: linear-gradient(315deg, #00523b, #006146);
  box-shadow: 1px -1px 5px #00583f,
    1px 1px 5px #005e43;
}

/* case 'lib' soft skill: livres*/
.BoocksCard {
  margin-left: 15%;
  width: 450px;
  height: 350px;
  border-radius: 4px;
  background: #212121;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.BoocksCard p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #1a1a1a;
  border: 1px solid #005B41;
  border: thick double #005B41;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoocksCard p:hover {
  flex: 4;
}

.BoocksCard p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #005B41;
  letter-spacing: .1em;
}

.BoocksCard p:hover span {
  transform: rotate(0);
}

/*cheesCard*/
.chessCard {
  width: 450px;
  height: 350px;
  perspective: 1000px;
}

.chessCard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.chessCard:hover .chessCard-inner {
  transform: rotateY(180deg);
}

.chessCard-front,
.chessCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.chessCard-front {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--primary);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.chessCard-back {
  background-color: var(--other4);
  color: #fff;
  display: flex;
  align-items: flex-end;
  border: 10px solid var(--other4);
  border-radius: 10px;
  justify-content: center;
  font-size: 10x;
  transform: rotateY(180deg);
}

.chessCard-back img {
  width: 100%;
  height: auto;
}

.chessCard-back p {
  width: 30%;
}
/* section contact*/

.sectionContact {
  width: 100%;
}

/* le formulaire */

 /*.alignRight {
  display: flex;
  justify-content: flex-start;
  
} */

.containerForm {
  margin-right: 7%;
  margin-top: 5%;
  width:45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--other5);
  background: linear-gradient(to right,#1B9C85, #27a66d);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.containerForm form .descr {
  font-size: 20px;
  font-weight: 500;
  color: var(--otherSecondary);
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
textarea {
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color:  var(--otherSecondary);
  border: none;
  border-bottom: 2px solid var(--otherSecondary);
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: var(--otherSecondary);
  font: small-caps bold;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus~label,
.input textarea:valid~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color:  var(--otherSecondary);
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  var(--otherSecondary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* reseaux sociaux*/
.rezo50 {
  margin-top: 5%;
  width: 45%; 
  
}

.rezo50>div {
  width: 25%;
}

.rezo50 a {
  width: 25%;
  text-decoration: none;
  font-size: 14px;
  color: var(--otherSecondary);
}
.rezo img {
  width: 70%;
}


/* le slider*/
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--other5);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#00523b;
  border: 10px solid var(--other5);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
}

.swiper-slide img {
  display: block;
  width: 95%;
  /*height: 100%;
  object-fit: cover;*/
}

.swiper-button-next, .swiper-button-prev{
  color: var(--otherSecondary);
}


/* cartes projets dans la fenêtre projet2*/
.cardProjet {
  color: #1b1b1b;
  width: 190px;
  height: 254px;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  background: var(--other2);
  background-blend-mode: multiply;
  background: linear-gradient(to top, #ff930f, #ffcc33);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.cardProjet-front {
  padding: 5%;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: left;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
 
}
.cardProjet-front h3 {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 4%;
}


.cardProjet-back {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


/*Text*/
.titleProjet {
  font-size: 1.3rem;
  font-weight: bold;
}
/*Text divider*/
.titleProjet::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}


/*Hover*/
.cardProjet:hover {
  background-color: #1b1b1b25;
}

.cardProjet:hover .cardProjet-front {
  transform: translateX(-100%);
}

.cardProjet:hover .cardProjet-back {
  transform: translateX(0);
}

/*responsive*/

@media screen and (max-width:540px) {

 .padding{
  padding: 0 3%;
  }

  h1 {
    font-family: 'Libre-Baskerville', cursive;
    font-size: 1.5rem;
    color:var(--primaryColor); 
  }
  
  h2 {
    font-family: 'Libre-Baskerville', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color:var(--primaryColor);
    width: 100%;
  }
  
  h3 {
    font-family:'Libre-Baskerville', sans-serif;
    font-size: 1rem;
    color:var(--contentColor);
  }
  
  p {
    font-family:'Junge', sans-serif;
    font-weight: 500;
    color: var(--contentColor);
    font-size: 0.8rem;
  }

/*le slider*/


/*

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "about projects contact"
    "projet1 projet1 projet1"
    "projet1 projet1 projet1"
    "projet1 projet1 projet1"
    "projet2 projet2 projet2"
    "projet2 projet2 projet2"
    "projet2 projet2 projet2"
    "html css javaScript"
    "php sql figma"
    "notion frameworks n"
    "projet3 projet3 projet3"
    "projet3 projet3 projet3"
    "lib chess pad"
    "lib chess pad"
    "lib chess pad"; 
}



*/
  /*.container{
    /*9 colonnes et 13 lignes

    display: grid;
    
    grid-auto-rows: 1fr; 
   /* grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
   /*grid-template-rows: repeat(auto-fit, minmax(50px,0.5fr));

    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-auto-flow: row;
    grid-template-areas: 
    "about projets contact"
    "projet1 projet1 projet1"
    "projet1 projet1 projet1"
    "projet1 projet1 projet1"
    "projet2 projet2 projet2"
    "projet2 projet2 projet2"
    "projet2 projet2 projet2"
    "html css javaScript" 
    "php sql figma" 
    "notion frameworks ."
    "projet3 projet3 projet3"
    "projet3 projet3 projet3"
    "lib chess pad";}*/
/*
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    grid-template-areas: 
    "about about about projets projets projets contact contact contact"
    "projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1"
    "projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1"
    "projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1 projet1"
    "projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2"
    "projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2"
    "projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2 projet2"
    "html css javaScript php sql figma notion frameworks ."
    "projet3 projet3 projet3 projet3 projet3 projet3 projet3 projet3 projet3"
    "projet3 projet3 projet3 projet3 projet3 projet3 projet3 projet3 projet3"
    "lib lib lib chess chess chess pad pad pad"
    "lib lib lib chess chess chess pad pad pad"
    "lib lib lib chess chess chess pad pad pad";
   */
   
   .topNav {
    display: flex;
    align-items: center;
    border: 10px solid var(--other5);
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
  }

  /* hard skills*/
.logoSkill {
  display: flex;
  align-items: center;
  border: 5px solid var(--primary);
  border-radius: 10px;
  justify-content: center;
  font-size: 12px;
  flex-direction: column;
}

.logoSkill img {
  width: 70%;
  height: auto;
  
}
.html {
  grid-area: html;
 
}

.css {
  grid-area: css;

}

.javaScript {
  grid-area: javaScript;

}

.php {
  grid-area: php;

}

.sql {
  grid-area: sql;

}

.figma {
  grid-area: figma;
;
}

.notion {
  grid-area: notion;

}

.frameworks {
  grid-area: frameworks;

}

  }

